@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

/*------------------------------------------------------------------------------------------------\
  Safety Explorer stylesheet
\------------------------------------------------------------------------------------------------*/

    * {
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    }
    
    ul.nav-tabs {
        list-style-type: none;
        margin: 2%;
        overflow: hidden;
        background-color: #333333;
    }
    ul.nav-tabs li {
        float: left;
    }
    ul.nav-tabs li.active {
        background-color: #111111;
    }
    ul.nav-tabs li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }
    ul.nav-tabs li a:hover {
        background-color: #111111;
    }
    .safetyExplorerChart {
        width: 96%;
        margin: 2%;
    }
