ul.ses-nav-tabs {
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    padding:0;
}
ul.ses-nav-tabs li {
    float: left;
    cursor:pointer;
    border:2px solid black
}

ul.ses-nav-tabs li a {
    display: block;
    text-align: center;
    color:white;
    padding: 16px;
    text-decoration: none;
}


ul.ses-nav-tabs li:hover {
    background-color: #777;
    border:2px solid #777;

}

ul.ses-nav-tabs li.active, ul.ses-nav-tabs li.active:hover {
    background-color: white;
    border:2px solid black;

}

ul.ses-nav-tabs li.active a, ul.ses-nav-tabs li.active:hover a{
  color:black;
}

.safetyExplorerChart {
    width: 96%;
    margin: 2%;
}
