i{
  vertical-align: middle;
  padding-right:0.2em;
}

.main{
  margin-top:60px;
}

.anchor{
  padding-top:60px;
  margin-top:-60px
}
.wrap{
  width:80%;
  padding: 0 10% 0 10%;
}

td.links, th.links{
  width:200px
}

table.examples td, table.examples th{
  border:1px solid #ccc;
  padding:.5em;
}

.italic {
    font-style: italic;
}

.media-block{
	max-width: 100rem;
	overflow-wrap: break-word;
	margin-bottom: 2rem;
}
.media-block::after{
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
.media-block > img,
.media-block > a > img{
	max-width: 100%;
	float: left;
	vertical-align: top;
	margin: .25em 1em .5em 0;
	padding: 5px;
	border: 1px solid #ccc;
	transition: border-color .3s ease-in-out;
}
.media-block > a > img:hover{
	border-color: rgb(108, 207, 253);
}
.media-block .text-wrap {
	display: block;
}
.media-block .media-title{
	font-weight: bold;
}
.media-block .text-wrap p {
	margin-bottom: 5px;
}
.media-block .doc-link{
	margin-right: 1.5em;
}
.media-block .doc-link::before{
	font-family: Fontawesome;
	padding-right: .5em;
}
.media-block .doc-link.paper::before{
	content: "\f0f6";
}
.media-block .doc-link.abstract::before{
	content: "\f016";
}
.media-block .doc-link.slides::before{
	content: "\f108";
}
.media-block .doc-link.poster::before{
	content: "\f022";
}
.media-block .doc-link.related.tool::before{
	content: "\f0a4";
}

section.media-tiles{
	margin-right: -1rem;
}
.media-tile{
	display: inline-block;
	position: relative;
	padding: .5rem;
	border: 1px solid #ccc;
	margin: 0 1rem 1rem 0;
	transition: border-color .3s ease-in-out;
}
.media-tile:hover{
	border-color: rgb(108, 207, 253);
}
.media-tile img{
	max-width: 100%;
}
.media-tile .text-wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: inherit;
	background-color: rgba(255,255,255,0.9);
	padding: .5em;
}
.media-tile a.text-wrap:hover{
	color: inherit;
}
.media-tile .text-wrap p{
	margin: .5em;
}
.media-tile .text-wrap p:first-of-type{
	font-weight: bold;
	margin-top: 0;
}
.media-tile .text-wrap p+p{
	display: none;
}
.media-tile:hover .text-wrap p+p{
	display: block;
}
